body{ 
    background: #181818; 
    color: #bbbbbb; 
} 
.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to a new line when needed */
    justify-content: start; /* Center the charts horizontally */
    gap: 20px; /* Add space between charts */
}

.container {
    flex: 1 1 calc(50% - 20px); /* Take up 50% width minus gap for two charts per row */
    min-width: 300px; /* Ensure charts don’t shrink too small */
    max-width: 1000px; /* Charts won't grow beyond 600px */
    box-sizing: border-box; /* Include padding/borders in width calculations */
}

.chart {
    width: 100%; /* Ensure canvas takes full width of the container */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for small screens */
@media (max-width: 1000px) {
    .container {
        flex: 1 1 100%; /* Make charts take full width on small screens */
    }
}

#refresh{ 
    width: 100px; 
    height:40px ; 
    background-color: rgba(255, 0, 0, 0.308); 
    border: none; 
    border-radius: 10px; 
    color:rgb(211, 211, 211); 
    align-self: center; 
    justify-self: flex-end; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    transition: 100ms; 
} 

#refresh:hover{ 
    font-size: 14px; 
    transition: 100ms; 
} 

.header{ 
    justify-content: space-around; 
}
.date-container{
display: flex;
width: 300px;
justify-content: space-between;

}
.date-container label{
    width: 50px;

}
.date-container input{
    height: 30px;
    background-color: #474747;
    color: white;
}
input.chart-checkbox{
   transform: scale(200%);
   margin: 0 12px;
}